/* ----------------------------------------------------------------

	content.scss

-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Content
-----------------------------------------------------------------*/
/* line 13, ../sass/content.scss */
#content {
  margin-bottom: 80px !important;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: #FFF; }
  /* line 20, ../sass/content.scss */
  #content p {
    line-height: 1.8; }
  /* line 22, ../sass/content.scss */
  #content .content-wrap {
    position: relative;
    padding: 80px 0; }
  /* line 27, ../sass/content.scss */
  #content .container {
    position: relative; }

/* line 30, ../sass/content.scss */
.grid-container {
  position: relative;
  overflow: hidden; }

/* line 35, ../sass/content.scss */
body:not(.device-touch) .grid-container {
  -webkit-transition: height 0.4s linear;
  -o-transition: height 0.4s linear;
  transition: height 0.4s linear; }

/*# sourceMappingURL=content.css.map */
