/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/
/* line 12, ../sass/footer.scss */
#footer {
  position: relative;
  background-color: #EEE;
  border-top: 5px solid rgba(0, 0, 0, 0.2); }
  /* line 16, ../sass/footer.scss */
  #footer .footer-widgets-wrap {
    position: relative;
    padding: 80px 0; }

/* line 25, ../sass/footer.scss */
.device-lg.sticky-footer #top-bar,
.device-md.sticky-footer #top-bar {
  z-index: 299; }
/* line 26, ../sass/footer.scss */
.device-lg.sticky-footer #header,
.device-md.sticky-footer #header {
  z-index: 199; }
/* line 27, ../sass/footer.scss */
.device-lg.sticky-footer #slider,
.device-lg.sticky-footer #page-submenu,
.device-lg.sticky-footer #page-title,
.device-lg.sticky-footer #content,
.device-lg.sticky-footer #slider,
.device-lg.sticky-footer #page-submenu,
.device-lg.sticky-footer #page-title,
.device-lg.sticky-footer #content,
.device-md.sticky-footer #slider,
.device-md.sticky-footer #page-submenu,
.device-md.sticky-footer #page-title,
.device-md.sticky-footer #content,
.device-md.sticky-footer #slider,
.device-md.sticky-footer #page-submenu,
.device-md.sticky-footer #page-title,
.device-md.sticky-footer #content {
  z-index: 2; }
/* line 35, ../sass/footer.scss */
.device-lg.sticky-footer #footer,
.device-md.sticky-footer #footer {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
/* line 43, ../sass/footer.scss */
.device-lg.sticky-footer:not(.stretched) #footer,
.device-md.sticky-footer:not(.stretched) #footer {
  left: 50%;
  margin-left: -610px;
  width: 1220px; }

/* line 51, ../sass/footer.scss */
.device-md.sticky-footer:not(.stretched) #footer {
  margin-left: -500px;
  width: 1000px; }

/* line 57, ../sass/footer.scss */
.footer-widgets-wrap .col_full,
.footer-widgets-wrap .col_half,
.footer-widgets-wrap .col_one_third,
.footer-widgets-wrap .col_two_third,
.footer-widgets-wrap .col_three_fourth,
.footer-widgets-wrap .col_one_fourth,
.footer-widgets-wrap .col_one_fifth,
.footer-widgets-wrap .col_two_fifth,
.footer-widgets-wrap .col_three_fifth,
.footer-widgets-wrap .col_four_fifth,
.footer-widgets-wrap .col_one_sixth,
.footer-widgets-wrap .col_five_sixth {
  margin-bottom: 0; }

/* line 73, ../sass/footer.scss */
#copyrights {
  padding: 40px 0;
  background-color: #DDD;
  font-size: 14px;
  line-height: 1.8; }
  /* line 79, ../sass/footer.scss */
  #copyrights i.footer-icon {
    position: relative;
    top: 1px;
    font-size: 14px;
    width: 14px;
    text-align: center;
    margin-right: 3px; }
  /* line 88, ../sass/footer.scss */
  #copyrights .col_half {
    margin-bottom: 0 !important; }
  /* line 92, ../sass/footer.scss */
  #copyrights a:first-child {
    margin-left: 0; }
  /* line 98, ../sass/footer.scss */
  #copyrights .tright a:last-child {
    margin-right: 0; }

/* line 106, ../sass/footer.scss */
.copyright-links a {
  display: inline-block;
  margin: 0 3px;
  color: #333;
  border-bottom: 1px dotted #444; }
  /* line 111, ../sass/footer.scss */
  .copyright-links a:hover {
    color: #555;
    border-bottom: 1px solid #666; }

/* line 118, ../sass/footer.scss */
.copyrights-menu {
  margin-bottom: 10px; }
  /* line 120, ../sass/footer.scss */
  .copyrights-menu a {
    font-size: 14px;
    margin: 0 10px;
    border-bottom: 0 !important; }

/* line 127, ../sass/footer.scss */
.footer-logo {
  display: block;
  margin-bottom: 30px; }

/*# sourceMappingURL=footer.css.map */
