a, a:hover, a:focus, #header-container ul.menu li a:hover, #header-container ul.sf-menu li.sfHover>a,
#header-container ul.menu li a.active, #header-container ul.menu li.active-trail>a,
#header-container .sf-menu ul li.active-trail>a, #header-container .sf-menu ul li a.active,
#header-container .sf-menu ul li a:hover, #header-container .sf-menu ul li.sfHover>a,
.mean-container a.meanmenu-reveal, .mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li a.mean-expand:hover, ul.menu li.collapsed > a:before,
ul.menu li.expanded > a:before, ul.menu li.leaf > a:before, .white-region .footer-area ul.menu li a:hover,
.light-gray-region .footer-area ul.menu li a:hover, ul.pager li > a:hover, .comment ul.links li a:hover,
.field-name-field-mt-special-feature .field-name-field-mt-feature-title,
.view-promoted-items .views-field-mt-tags a, .masonry-grid-item-image + .masonry-grid-item-body:after,
.masonry-grid-item:hover .masonry-grid-item-body h2 a, .masonry-grid-item-body .button a.more,
.masonry-grid-item-body .button a.more:after, .views-field-title a:hover, .view-promoted-items .views-field-field-mt-subtitle,
.owl-theme .owl-controls .owl-buttons div:hover, ul.social-bookmarks li a, ul.brands li a,
ul.social-bookmarks-with-text li i, ul.social-bookmarks-with-text li a:hover, .list-inline > li.icon,
ul.links li a:after, a.more:after, .more-link a:after, .dark .item-list ul.quicktabs-tabs > li > a,
.dark .nav-tabs > li > a, .item-list ul.quicktabs-tabs > li.active > a, .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .style-2 .overlayed:hover .overlay-item>span,
.style-2 .overlayed:hover .overlay-item i, #in-page-images-slider .flex-prev:hover, #in-page-images-slider .flex-next:hover,
.tparrows.default, .view-promoted-items-masonry:not(.style-2) .more-link a:before,
.view-promoted-items-masonry:not(.style-2) .more-link a:hover, .style-2 .overlay.without-image .overlay-item>span
{ color:#ff3175; }

@media (min-width: 1200px) {
	#search-area .nav-search.style-2 .form-actions:after { color: #ff3175; }
	.full-width #search-area.bordered:before { background-color: #ff3175; }
}

.colored-region, .parallax-active .colored-region, .mean-container a.meanmenu-reveal span, ul.menu li a:hover,
.post-progressbar, .field-type-taxonomy-term-reference .field-item a:hover,
.highlighted.view-promoted-items .views-row:hover .body, .masonry-grid-item-body, .view-popular-taxonomy .views-row a:hover,
ul.social-bookmarks li a:hover, ul.brands li a:hover, .colored-region ul.social-bookmarks li a:hover,
.colored-region ul.brands li a:hover, .colored-region.dark-region ul.social-bookmarks li a:hover,
.colored-region.dark-region ul.brands li a:hover, .progress-bar-default, .item-list ul.quicktabs-tabs > li > a:hover,
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-pills > li > a:hover, .nav-pills > li.active > a:hover,
.panel-heading a:not(.collapsed), .panel-heading:hover, ul.links li a:hover, a.more:hover, input[type="submit"]:hover,
input[type="reset"]:hover, input[type="button"]:hover, .more-link a:hover, .checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover, button.cbutton-effect:hover, .masonry-grid-item .overlay .views-field-mt-tags a,
.tp-caption a.more:hover, .tp-bullets.simplebullets .bullet:hover:after, .tp-bullets.simplebullets .bullet.selected:after,
.tp-bannertimer, .poll .bar .foreground, .style-2.highlighted.view-promoted-items .views-row:hover .overlay.without-image
{ background-color: #ff3175; }

p:not(.more-link) a:not(.more), .bordered-link, pre, .bordered-block, #header-container .sf-menu ul>li:first-child>a,
ul.pager li > a:hover, .comment ul.links, .field-type-taxonomy-term-reference .field-item a:hover,
.highlighted.view-promoted-items .views-row:hover .body, .view-popular-taxonomy .views-row a:hover,
ul.social-bookmarks li a, ul.brands li a, ul.social-bookmarks li a:hover, ul.brands li a:hover,
.colored-region.dark-region ul.social-bookmarks li a:hover, .colored-region.dark-region ul.brands li a:hover,
input.form-text:focus, textarea:focus, .node-type-webform #main .form-text:focus, .node-type-webform #main textarea:focus,
.form-style-2 .webform-component input.form-text:focus, .form-style-2 .webform-component textarea:focus,
#webform-client-form-32 .webform-component input.form-text:focus, #webform-client-form-32 .webform-component textarea:focus,
.item-list ul.quicktabs-tabs, .nav-tabs, .nav-pills > li > a:hover, .nav-pills > li.active > a:hover,
.panel-group .panel, table th, table tr.even, table tr.odd, ul.links li a, a.more, input[type="submit"],
input[type="reset"], input[type="button"], .checkout-buttons .checkout-cancel, .checkout-buttons .checkout-back,
.more-link a, button.cbutton-effect, ul.links li a:hover, a.more:hover, input[type="submit"]:hover,
input[type="reset"]:hover, input[type="button"]:hover, .more-link a:hover, .checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover, button.cbutton-effect:hover, .cbutton-effect::after, .tp-caption a.more,
#map-canvas-container.in, #map-canvas-container.collapsing,
.style-2.highlighted.view-promoted-items .views-row:hover .overlay { border-color: #ff3175; }

.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected { background-color: #ff3175!important; border-color: #ff3175!important; }

.masonry-grid-item-body h2 a:hover { color: rgba(255,49,117,0.8); }

#in-page-images-slider .flex-direction-nav a { color: rgba(255,49,117,0.5); }

.owl-theme .owl-controls .owl-buttons div { color: rgba(255,49,117,0.35); }

.view-testimonials-block .views-field-body p:first-child:after,
.view-testimonials-slider .views-field-body p:first-child:after,
.node-type-mt-testimonial .field-name-body p:after { color: rgba(255,49,117,0.25); }

@media (min-width: 992px) {
	.col-md-5 + .col-md-5 #content-bottom-second:before { background-color: rgba(255,49,117,0.4); }
}

.parallax-active .colored-region #highlighted-bottom-transparent-bg,
.video-bg-active .colored-region #highlighted-bottom-transparent-bg,
.overlay, .teaser-overlayed a:before, .overlay-item>span { background-color: rgba(255,49,117,0.8); }

.masonry-grid-item .overlay .views-field-mt-tags a:hover { background-color: rgba(255,49,117,0.7);  }

.tp-caption.title, .tparrows.default:hover { background-color: rgba(255,49,117,0.60); }

.style-2 .overlayed:hover .overlay { background-color: rgba(255,49,117,0.5); }

p:not(.more-link) a:not(.more):hover, .bordered-link:hover,
p:not(.more-link) a:not(.more):focus, .bordered-link:focus { background-color: rgba(255,49,117,0.15); }

.view-latest-items .views-row:hover { background-color: rgba(255,49,117,0.12); }

.form-style-2 .webform-component input.form-text:focus, .form-style-2 .webform-component textarea:focus,
#webform-client-form-32 .webform-component input.form-text:focus, #webform-client-form-32 .webform-component textarea:focus,
table th { background-color: rgba(255,49,117,0.1); }

.author-info, .company-info { border-color: rgba(255,49,117,0.5); }

blockquote { border-color: rgba(255,49,117,0.25); }

#breadcrumb-inside { border-color: rgba(255,49,117,0.2); }

@media (min-width: 1200px) {
	.fixed-width #search-area .form-text { border-color: rgba(255,49,117,0.5);  }
}

@media (max-width: 1199px) {
	#search-area .form-text { border-color: rgba(255,49,117,0.5); }
}

/*resets*/
.item-list ul.quicktabs-tabs > li > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus { color: #ffffff; }

ul.menu li > a:hover:before { color: #ffffff; }

.masonry-grid-item-body .button a:hover, .masonry-grid-item-body .button a:hover:after { color: #ffffff; }