@font-face {
  font-family: 'penalty';
  src:  url('fonts/penalty.eot?pb7smo');
  src:  url('fonts/penalty.eot?pb7smo#iefix') format('embedded-opentype'),
    url('fonts/penalty.ttf?pb7smo') format('truetype'),
    url('fonts/penalty.woff?pb7smo') format('woff'),
    url('fonts/penalty.svg?pb7smo#penalty') format('svg');
  font-weight: normal;
  font-style: normal;
}

.penalty-professional {
  position: absolute;
  top: 30px;
  left: 30px;
  background: url('img/professional.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 50px;
}

.penalty-icon {
  display: block;
  float: left;
}

.penalty-icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'penalty' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.penalty-icon-obvod:before {
  content: "\e901";
}
.penalty-icon-vaha:before {
  content: "\e902";
}
.penalty-icon-telo:before {
  content: "\e900";
}
.penalty-icon-termotec:before {
  content: "\e903";
}
.penalty-icon-pojidlo:before {
  content: "\e904";
}
.penalty-icon-material:before {
  content: "\e905";
}
.penalty-icon-ventil:before {
  content: "\e906";
}
.penalty-icon-ultrafus:before {
  content: "\e907";
}
.penalty-icon-basic:before {
  content: "\2022";
}

.penalty-attributes {
  border: 1px dashed black;
  padding-top: 10px;
  margin-top: 10px;
}

.penalty-attributes li p {
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 0.8em;
}

.penalty-features {
  text-align: right;
  margin-top: 10px;
  padding-right: 5px;
}

.penalty-feature:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'penalty' !important;
  font-size: 80px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.penalty-feature-nano-fresh:before {
  content: "\e90b";
}

.penalty-feature-dry-on:before {
  content: "\e909";
}

.penalty-feature-idealni-teplota:before {
  content: "\e90a";
}

.penalty-feature-damsky-strih:before {
  content: "\e908";
}

.penalty-feature-vysoce-kompresivni:before {
  content: "\e90d";
}

.penalty-feature-s-ochranou-proti-uv:before {
  content: "\e90c";
}

#content .content-wrap {
  padding: 30px 0;
}

a {
  color: #009B4E;
}

.dark #primary-menu:not(.not-dark) ul ul,
.dark #primary-menu:not(.not-dark) ul li .mega-menu-content,
#primary-menu.dark ul ul,
#primary-menu.dark ul li
.mega-menu-content {
    border-top-color: #009B4E;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #009B4E;
  color: #fff;
}

.dark #primary-menu:not(.not-dark) ul ul li.active > a,
#primary-menu.dark ul ul li.active > a {
    color: #fff !important;
}


.container ul {
  margin-left: 20px;
}

.breadcrumb {
  margin: 10px 0 0 0 !important;
}

.view-zarazeni-taxonomy-page .view-content {
  width: 100%;
}

.slider-caption h2 {
  color: #EEE !important;
  text-shadow: 2px 2px 15px rgba(0,0,0,1) !important;
}

.button-green {
  background-color: #009B4E !important;
}

.view-popis-zarazeni .views-field-description .field-content {
  padding-bottom: 20px;
}

.view-id-supporting img {
  max-width: fit-content;
}


.view-id-supporting .col-md-8 .content {
  display: inline-block;
  margin-left: 10px;
}
