/*-----------------------------------------------------------------------------------

	Shortcodes: alerts.scss

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Alerts
-----------------------------------------------------------------*/
/* line 12, ../../sass/shortcodes/alerts.scss */
.style-msg,
.style-msg2 {
  position: relative;
  display: block;
  color: #444;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

/* line 21, ../../sass/shortcodes/alerts.scss */
.style-msg2 {
  border-left: 4px solid rgba(0, 0, 0, 0.2); }

/* line 23, ../../sass/shortcodes/alerts.scss */
.successmsg {
  background: #C5EBD4;
  color: #184B21; }

/* line 28, ../../sass/shortcodes/alerts.scss */
.errormsg {
  background: #FFCCCC;
  color: #740D0A; }

/* line 33, ../../sass/shortcodes/alerts.scss */
.infomsg {
  background: #B9DFF4;
  color: #124F70; }

/* line 38, ../../sass/shortcodes/alerts.scss */
.alertmsg {
  background: #FCE0B6;
  color: #975E06; }

/* line 43, ../../sass/shortcodes/alerts.scss */
.style-msg .sb-msg,
.style-msg2 .msgtitle,
.style-msg2 .sb-msg {
  display: block;
  padding: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6); }

/* line 53, ../../sass/shortcodes/alerts.scss */
.style-msg2 .msgtitle {
  background: rgba(0, 0, 0, 0.15);
  border-top: none;
  border-bottom: none;
  font-size: 15px;
  font-weight: bold; }

/* line 61, ../../sass/shortcodes/alerts.scss */
.style-msg-light .sb-msg,
.style-msg-light .msgtitle {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

/* line 68, ../../sass/shortcodes/alerts.scss */
.style-msg2 .sb-msg {
  font-weight: normal; }
/* line 71, ../../sass/shortcodes/alerts.scss */
.style-msg2 ol,
.style-msg2 ul {
  margin: 0 0 0 30px; }
/* line 75, ../../sass/shortcodes/alerts.scss */
.style-msg2 ol {
  list-style-type: decimal; }
/* line 78, ../../sass/shortcodes/alerts.scss */
.style-msg2 ul {
  list-style-type: disc; }

/* line 86, ../../sass/shortcodes/alerts.scss */
.alert i,
.sb-msg i,
.msgtitle i {
  position: relative;
  top: 1px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  margin-right: 5px; }

/* line 96, ../../sass/shortcodes/alerts.scss */
.style-msg .close {
  position: absolute;
  top: 10px;
  left: auto;
  right: 10px; }

/*# sourceMappingURL=alerts.css.map */
